<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{% block title %}{% endblock title %}</title>
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
<header id="mainHeader">
  <hgroup>
    <h1>Data Exchange</h1>
  </hgroup>
    <nav id="mainNav">
    <h1>Main page navigation</h1>
    <ul id="siteNav">
      <li><a href="/">Home</a></li>
      <li><a href="/database">Database</a></li>
      <li><a href="/source">Source</a></li>
      <li><a href="/mapping">Mapping</a></li>
      <li><a href="/equal">Equal</a></li>
      <li><a href="/queries">Queries</a></li> 
      <li><a href="/target" class="last">Target</a></li>      
    </ul>
  </nav>
</header>
  <section id="content">
  	<header>{% include "messages.html" %}</header>
    {% block content %}{% endblock content %}
  </section>
  <footer id="pageFooter">
  <p>&copy;copyright 2012 Maher Manoubi</p>
  <p><a href="#">legal</a> | <a href="#">privacy</a> </p>
  </footer>
</div>
</body>
</html>