{%extends "base.html"%}
{%block title%}Database{%endblock%}
{%block content%}
      <section id="dbSections">
	    <header><h2>Source</h2></header>
	    	<a href="{% url create_new_source 'database' %}">Create a new Source</a> </br>
	    	<table>
	    		{% for entry in sources %}
	    		<tr>
					<td>Source{{entry.pk}}</td>
					<td><a href="{% url populate_source 'database' entry.pk %}">populate</a></td>
					<td><a href="{% url clear_source 'database' entry.pk %}">clear</a></td>
					<td><a href="{% url delete_source 'database' entry.pk %}">delete</a></td>
				</tr>
	    		{% endfor %}
	    	</table>
	  </section>
      <section id="dbSections">
	    <header><h2>Mapping</h2></header>
    		<a href="{% url populate_mapping 'database' %}">Populate Mapping</a> </br>		    
    		<a href="{% url clear_mapping 'database' %}">Clear Mapping</a> 
      </section>  
      <section id="dbSections">
	    <header><h2>Equal</h2></header>
    		<a href="{% url generate_equal 'database' %}">Generate Equal</a>  </br>
    		<a href="{% url update_mapping_from_equal 'database' %}">Update Mapping</a> </br> 
    		<a href="{% url update_source_from_equal 'database' %}">Update Source</a> </br>
    		<a href="{% url clear_equal 'database' %}">Clear Equal</a> 
	  </section>		  
      <section id="dbSections">
	    <header><h2>Target</h2></header>
	    	<a href="#">Clear target</a>
	  </section>	  
      <section id="dbSections">
	    <header><h2>Global</h2></header>
	    <form>
	    	<a href="clear_all">Clear all</a>
	    </form>
	  </section>
{%endblock%}