{%extends "base.html"%}
{%block title%}Database{%endblock%}
{%block content%}
    <header></header>
      <section id="dbSections">
	    <header><h2>Source</h2></header>
	    <form>
	    	<fieldset>
	    		<a href="clear_source">Clear Source</a> 
	    		<a href="populate_source">Populate Source</a> 
	    	</fieldset>
	    </form>	    
	  </section>
      <section id="dbSections">
	    <header><h2>Mapping</h2></header>
	    	<fieldset>
	    		<a href="clear_mapping">Clear Mapping</a> 
	    		<a href="populate_mapping">Populate Mapping</a> 
	    	</fieldset>	    
	  </section>		  
      <section id="dbSections">
	    <header><h2>Target</h2></header>
	    	<fieldset>
	    		<button onclick="">Clear target</button>
	    	</fieldset>	    
	  </section>	  
      <section id="dbSections">
	    <header><h2>Global</h2></header>
	    <form>
	    	<fieldset>
	    		<button onclick="">Clear db</button>
	    	</fieldset>
	    </form>
	  </section>
{%endblock%}