{%extends "base.html"%}
{%block title%}Database{%endblock%}
{%block content%}
    <header></header>
      <section id="dbSections">
	    <header><h2>Source</h2></header>
    		<a href="clear_source">Clear Source</a> 
    		<a href="populate_source">Populate Source</a>    
	  </section>
      <section id="dbSections">
	    <header><h2>Mapping</h2></header>
    		<a href="clear_mapping">Clear Mapping</a> 
    		<a href="populate_mapping">Populate Mapping</a> 	
      </section>  
      <section id="dbSections">
	    <header><h2>Equal</h2></header>
    		<a href="clear_equal">Clear Equal</a> 
    		<a href="generate_equal">Generate Equal</a>  
	  </section>		  
      <section id="dbSections">
	    <header><h2>Target</h2></header>
	    	<a href="#">Clear target</a>
	  </section>	  
      <section id="dbSections">
	    <header><h2>Global</h2></header>
	    <form>
	    	<a href="clear_all">Clear all</a>
	    </form>
	  </section>
{%endblock%}