<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Database Exchange</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<div id="wrapper">
<header id="mainHeader">
  <hgroup>
    <h1>Data Exchange</h1>
  </hgroup>
    <nav id="mainNav">
    <h1>Main page navigation</h1>
    <ul id="siteNav">
      <li><a href="database_operations.html">Database</a></li>
      <li><a href="source.html">Source</a></li>
      <li><a href="#">Target</a></li>
      <li><a href="#">Mappings</a></li>
      <li><a href="#" class="last">empty</a></li>
    </ul>
  </nav>
</header>
  <section id="content">
    <header></header>
      <section id="dbSections">
	    <header><h2>Source</h2></header>
	    <form>
	    	<fieldset>
	    		<button onclick="">Clear Source</button>
	    		<button onclick="">Populate Source</button>
	    	</fieldset>
	    </form>	    
	  </section>
      <section id="dbSections">
	    <header><h2>Mappings</h2></header>
	    	<fieldset>
	    		<button onclick="">Populate mappings</button>	    	
	    		<button onclick="">Clear mappings</button>
	    	</fieldset>	    
	  </section>		  
      <section id="dbSections">
	    <header><h2>Target</h2></header>
	    	<fieldset>
	    		<button onclick="">Clear target</button>
	    	</fieldset>	    
	  </section>	  
      <section id="dbSections">
	    <header><h2>Global</h2></header>
	    <form>
	    	<fieldset>
	    		<button onclick="">Clear db</button>
	    	</fieldset>
	    </form>
	  </section>	 	  	  
  </section>
  <footer id="pageFooter">
  <p>&copy;copyright 2012 Maher Manoubi</p>
  <p><a href="#">legal</a> | <a href="#">privacy</a> </p>
  </footer>
</div>
</body>
</html>