{%extends "base.html"%}
{%block title%}Equal{%endblock%}
{%block content%}
    <section id="dbSections">
	    <header><h2>Equal db operations</h2></header>
    		<a href="clear_equal">Clear Equal</a> 
    		<a href="generate_equal">Generate Equal</a>    
	</section>
	<section id="view">
		<div class="viewTable">
		    <header><h2>DOM</h2></header>
	    	<p>	DOM = (
	    	{% for entry in dom %}
	    		{{entry}} ,
	    	{% endfor %}
	    	)	
	    	</p>
	    </div>
		<div class="viewTable">
	    	<h2>Equal</h2>
	    	<table>
	    		<tr>
		    		<th>I</th>
		    		<th>J</th>
	    		</tr>
	    	{% for entry in equal %}
				<tr>
					<td>{{entry.I}}</td>
					<td>{{entry.J}}</td>
				</tr>
	    	{% endfor %}	    		
	    	</table>
	    </div>  
    </section> 
{%endblock%}