{%extends "base.html"%}
{%block title%}Equal{%endblock%}
{%block content%}
	<div class="viewTable">
	    <header><h2>DOM</h2></header>
    	<p>	DOM = (
    	{% for entry in dom %}
    		{{entry}} ,
    	{% endfor %}
    	)	
    	</p>
    </div>
	<div class="viewTable">
    	<h2>Equal</h2>
    	<table>
    		<tr>
	    		<th>I</th>
	    		<th>J</th>
    		</tr>
    	{% for entry in equal %}
			<tr>
				<td>{{entry.I}}</td>
				<td>{{entry.J}}</td>
			</tr>
    	{% endfor %}	    		
    	</table>
    </div>   
{%endblock%}