{%extends "base.html"%}
{%block title%}Queries{%endblock%}
{%block content%}
   <section id="querySection">
   <header><h2>Source-Target Dependencies</h2></header>
   		<form method="POST" class="queryForm" action={% url queries %}>
   			{% csrf_token %} 
   			<select id="source">
   				{% for source_element in sources %}
   					<option>Source{{source_element.pk}}</option>
   				{% endfor %}
   			</select>
 			(
   			<input id="source_arguments" type="text" />
   			)
   			--->
   			<select id="target">
   				{% for target_element in targets %}
   					<option>Target{{target_element.pk}}</option>
   				{% endfor %}
   			</select>
   			(   			
   			<input id="target_arguments" type="text" />
   			)
   			<button type="submit">Run</button>
   		</form>
   </section>  
{%endblock%}