{%extends "base.html"%}
{%block title%}Queries{%endblock%}
{%block content%}
   <script type="text/javascript">
   		function addSourceJoin()
		{
   			$("#source").add('<p id="new">new paragraph</p>');
		}
   </script>	
   <section id="querySection">
   <header><h2>Source-Target Dependencies</h2></header>
   		<form method="POST" class="queryForm" action={% url queries %}>
   			{% csrf_token %} 
   			<div id="source">
	   			<select name="source">
	   				{% for source_element in sources %}
	   					<option>Source{{source_element.pk}}</option>
	   				{% endfor %}
	   			</select>
	 			(
	   			<input name="source_arguments" class="source-target-dependency-input" type="text" />
	   			)
	   			<button id="add_source_join" type="button" onclick="addSourceJoin()">Add Join</button>
	   			
	   		</div>	
   			--->
   			<div id="target">
	   			<select name="target">
	   				{% for target_element in targets %}
	   					<option>Target{{target_element.pk}}</option>
	   				{% endfor %}
	   			</select>
	   			(   			
	   			<input name="target_arguments" class="source-target-dependency-input" type="text" />
	   			)
	   			<button id="add_target_join" type="button" >Add Join</button>
	   		</div>	
   			<button type="submit">Run</button>
   		</form>
   </section>  
{%endblock%}