{%extends "base.html"%}
{%block title%}Source{%endblock%}
{%block content%}
    <section id="dbSections">
	    <header><h2>Source</h2></header>
	    	<a href="{% url create_new_source 'source' %}">Create a new Source</a> </br>
	    	<table>
	    		{% for entry in sources %}
	    		<tr>
					<td>Source{{entry.pk}}</td>
					<td><a href="{% url populate_source 'source' entry.pk %}">populate</a></td>
					<td><a href="{% url clear_source 'source' entry.pk %}">clear</a></td>
				</tr>
	    		{% endfor %}
	    	</table>
	</section>
	<section id="view">
    <header><h2>View Source</h2></header>
		<div class="viewTable">
	    	<h3>Source</h3>
	    	<table>
	    		<tr>
		    		<th>A</th>
		    		<th>B</th>
	    		</tr>    	
	    	{% for entry in source %}
				<tr>
					<td>{{entry.A}}</td>
					<td>{{entry.B}}</td>
				</tr>
	    	{% endfor %}	
	    	</table> 	
	    </div>
    </section>   
{%endblock%}