{%extends "base.html"%}
{%block title%}Source{%endblock%}
{%block content%}
    <header><h2>View Source</h2></header>
	<div class="viewTable">
    	<h3>Source1</h3>
    	<table>
    		<tr>
	    		<th>A</th>
	    		<th>B</th>
    		</tr>    	
    	{% for entry in source1 %}
			<tr>
				<td>{{entry.A}}</td>
				<td>{{entry.B}}</td>
			</tr>
    	{% endfor %}	
    	</table>
    </div>
	<div class="viewTable">
    	<h3>Source2</h3>
    	<table>
    		<tr>
	    		<th>C</th>
	    		<th>D</th>
    		</tr>
     	{% for entry in source2 %}
			<tr>
				<td>{{entry.C}}</td>
				<td>{{entry.D}}</td>
			</tr>
    	{% endfor %}	   		
    	</table>    	
    </div>    
	<div class="viewTable">
    	<h3>Source3</h3>
    	<table>
    		<tr>
	    		<th>E</th>
	    		<th>F</th>
    		</tr>
    	{% for entry in source3 %}
			<tr>
				<td>{{entry.E}}</td>
				<td>{{entry.F}}</td>
			</tr>
    	{% endfor %}	    		
    	</table>    	
    </div>   
{%endblock%}