{%extends "base.html"%}
{%block title%}Mapping{%endblock%}
{%block content%}
   <section id="dbSections">
   <header><h2>Mapping db operations</h2></header>
     	<a href="{% url populate_mapping 'mapping' %}">Populate</a> </br>	
  		<a href="{% url clear_mapping 'mapping' %}">Clear</a> 
    </section>  
	<section id="view">
	    <header><h2>View Mapping</h2></header>
		<div class="viewTable">
	    	<h3>Mapping</h3>
	    	<table>
	    		<tr>
		    		<th>S</th>
		    		<th>T</th>
	    		</tr>
	    	{% for entry in mapping %}
				<tr>
					<td>{{entry.S}}</td>
					<td>{{entry.T}}</td>
				</tr>
	    	{% endfor %}	    		
	    	</table>
	    </div>   
    </section>
{%endblock%}